<div class="container">
   <h1>Form Application : Post Registration Form</h1>
   <div [hidden]="submitted">
    <form #postForm="ngForm" (ngSubmit)="onSubmit()">
       <!--TODO: Remove this once testing over-->
       <pre>{{post | json}}</pre>
      <div class="form-group">
         <label for="title">Title</label>
         <input [(ngModel)]="post.title" name="title" #errorMsg1="ngModel" type="text" class="form-control" id="title" required>
       </div>
       <div [hidden]="errorMsg1.valid || errorMsg1.pristine" class="alert alert-danger">
         title is required
       </div>
       <div class="form-group">
         <label for="name">Name</label>
         <input [(ngModel)]="post.author"  #errorMsg2="ngModel" name="author" type="text" class="form-control" id="name" required>
       </div>
       <div [hidden]="errorMsg2.valid || errorMsg2.pristine" class="alert alert-danger">
         Author is required
       </div>

       <div class="form-group">
         <label for="category">Category</label>
         <select class="form-control" id="category" name="category" 
         required [(ngModel)]="post.category">
           <option *ngFor="let cat of categories"  [value]="cat">
             {{cat}}
           </option>
         </select>
       </div>

       <button type="submit" class="btn btn-success" [disabled]="!postForm.form.valid">Submit</button>    </form>
    </div>
<!--Details Page-->
<div class="container" [hidden]="!submitted">
   <h2>You submitted the following:</h2>
   <div class="row">
     <div class="col-xs-3">Id : </div>
     <div class="col-xs-9  pull-left">{{ post.id }}</div>
   </div>
   <div class="row">
     <div class="col-xs-3">Title : </div>
     <div class="col-xs-9  pull-left">{{ post.title }}</div>
   </div>
   <div class="row">
     <div class="col-xs-3">Author : </div>
     <div class="col-xs-9 pull-left">{{ post.author }}</div>
   </div>
   <div class="row">
      <div class="col-xs-3">Category : </div>
      <div class="col-xs-9 pull-left">{{ post.category }}</div>
    </div>
   <br>
   <button class="btn btn-primary" (click)="submitted=false">GoBack</button>
 </div>
    

</div>